<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>Memos</title>

    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/css/memos.css"/>
{#    <script>#}
{#        $(function () {#}
{#        $('#delete').click(function () {#}
{#            var val = [];#}
{#            $(':checkbox:checked').each(function (i) {#}
{#                val[i] = $(this).val();#}
{#            });#}
{#        });#}
{#    });</script>#}

</head>
<body>
<div class="container">

    <!-- Flashed messages before content -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Memos</h1>
    <form id="delete" action="_delete" method="POST">
        {% if g.memos %}
            {% for memo in g.memos %}
                <div class="memo">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" name="token" id="token" value={{ memo.token }}>
                            {{ memo.date | humanize }}
                        </div>
                        <div class="col-md-10">
                            {{ memo.text }}
                        </div>
                    </div> <!-- row -->
                </div> <!-- memo -->
            {% endfor %}
        {% else %}
            <p>No memos for you. </p>
        {% endif %}
        <button type="submit" value="delete" id="delete">Delete checked token</button>
        <div id="button"><a href="/create">Create memos</a></div>
    </form>
</div> <!-- container -->
</body>
</html>
